#hero-section {
  padding: 9.6rem 0;
  position: relative;
  background-image: url(../assets/schedule-section/background-clouds.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-top: 2rem;
}

.hero-container-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  z-index: 4;
  background-image: url("../assets/hero-section/hero-text-background.png");
  background-position: center;
  background-size: 35% 80%;
  background-repeat: no-repeat;
  width: 100%;
  height: 60rem;
}

.hero-couple-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.couple-name {
  font-family: Style Script;
  font-size: 4.4rem;
  font-weight: 400;
  color: #7e1719;
}

.couple-weds {
  font-family: Philosopher;
  font-size: 2.8rem;
  font-weight: 700;
  color: #1e7497;
}

.hero-time-container {
  position: relative;
  border-top: 1px solid #769f5c;
  border-bottom: 1px solid #769f5c;
}

.leaf-top {
  position: absolute;
  top: -2.5rem;
  left: 40%;
}

.leaf-bottom {
  position: absolute;
  bottom: -2.5rem;
  left: 40%;
  transform: rotateX(180deg);
}

.hero-time {
  font-family: Philosopher;
  font-size: 3rem;
  font-weight: 700;
  color: #7e1719;
  padding: 2rem 0;
  line-height: 2;
}

.curtain-left {
  position: absolute;
  top: 0;
  left: -45px;
  width: 20%;
  z-index: 2;
}

.curtain-right {
  position: absolute;
  top: 0;
  right: -45px;
  transform: rotateY(180deg);
  width: 20%;
  z-index: 2;
}

.curtain-left img,
.curtain-right img,
.flower-top img {
  width: 100%;
  height: 100%;
}

.flower-top {
  position: absolute;
  top: 10px;
  left: -25px;
  z-index: 3;
  width: 120%;
}

.petals-1 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}

.petals-2 {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
}

.petals-3 {
  position: absolute;
  top: 50%;
  z-index: 3;
}

.petals-1 img,
.petals-2 img {
  width: 100%;
  height: 100%;
}

.pot-left {
  position: absolute;
  bottom: 0;
  left: -200px;
  width: 50%;
}

.pot-right {
  position: absolute;
  bottom: 0;
  right: -200px;
  width: 10%;
}

.pot-right img,
.pot-left img {
  width: 100%;
  height: 100%;
}

.ganesh {
  margin-top: 2rem;
  margin-bottom: -1rem;
  z-index: 4;
}

.flower-bottom {
  position: absolute;
  bottom: 0;
  z-index: 3;
  width: 120%;
  transform: rotateX(180deg);
}

.flower-bottom img {
  width: 100%;
  height: 100%;
}

.golden-fence {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 2;
}

.golden-fence img {
  width: 100%;
  height: 100%;
}

.cloud-right-container {
  position: absolute;
  top: 15%;
  right: 0;
  animation: cloud-right 20s linear infinite forwards alternate-reverse;
  z-index: 1;
}

@keyframes cloud-right {
  0% {
    transform: translateX(200%);
  }
  100% {
    transform: translateX(-200%);
  }
}
.cloud-left-container {
  position: absolute;
  top: 0%;
  left: 0;
  animation: cloud-left 15s linear infinite forwards alternate-reverse;
  z-index: 1;
}

@keyframes cloud-left {
  0% {
    transform: translateX(-200%) rotateY(180deg);
  }
  100% {
    transform: translateX(200%) rotateY(180deg);
  }
}

.cloud-right-container img,
.cloud-left-container img {
  width: 100%;
  height: 100%;
}

@media (width<=900px) {
  .curtain-left,
  .curtain-right {
    width: 30%;
  }
}

.hero-location-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  padding: 2rem 0;
  font-family: Philosopher, sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  color: #1e7497;
}
.hero-location-text span {
  color: #7e1719;
  font-size: 2.6rem;
}

.hero-btn-container {
  z-index: 9;
  font-family: philosopher, sans-serif;
  font-weight: 900;
  font-size: 2.4rem;
}

.hero-btn {
  z-index: 5;
  background-color: #fff;
  color: #7e1719;
  padding: 1rem;
  text-decoration: none;
  border-radius: 30px;
  box-shadow: 0px 10px 2px -6px rgba(0, 0, 0, 0.4);
}

@media (width<=650px) {
  #hero-section {
    height: 80vh;
  }

  .hero-container {
    padding-top: 10rem;
  }

  .curtain-left,
  .curtain-right {
    width: 40%;
  }

  .flower-top {
    width: 200%;
  }

  .flower-bottom {
    width: 200%;
  }

  .golden-fence {
    width: 200%;
  }
}
