#preloader {
    z-index: 15 !important;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;

    
  }
  
  .animate {
    display: none;
    z-index: 9 !important;
  }
  
  /* .line {
    width: 80%;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9 !important;
    
  } */
  
  .preloader-blue,
  .preloader-red,
  .preloader-purple {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    z-index: 9999;
  }
  
  .preloader-blue {
    z-index: 40;
    background: #1E7497;
  }
  
  .preloader-red {
    z-index: 30;
    background: #D87173;
  }
  
  .preloader-purple {
    z-index: 20;
    background: #ECE8DA;
  }
  
  .preloader-blue.animation {
    animation: animation-blue 1s ease-in;
    animation-fill-mode: forwards;
  }
  
  .preloader-red.animation {
    animation: animation-red 1s ease-in;
    animation-fill-mode: forwards;
  }
  
  .preloader-purple.animation {
    animation: animation-purple 1s ease-in;
    animation-fill-mode: forwards;
  }
  
  @keyframes animation-black {
    from {
      display: block;
    }
  
    to {
      display: none;
    }
  }
  
  @keyframes animation-blue {
    from {
      transform: translateY(0);
      display: block;
    }
  
    to {
      transform: translateY(-100vh);
      display: none;
    }
  }
  
  @keyframes animation-red {
    from {
      transform: translateY(0);
      display: block;
    }
  
    to {
      transform: translateY(-100vh);
      display: none;
    }
  }
  
  @keyframes animation-purple {
    from {
      transform: translateY(0);
      display: block;
    }
  
    to {
      transform: translateY(-100vh);
      display: none;
    }
  }