nav {
  background-color: #ffffff;
  padding: 25px;
  position: fixed;
  width: 100%;
  z-index: 11;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
}

/* Container to hold both nav-links and hamburger */
.nav-container {
  display: flex;
  justify-content: center; /* Ensures space between links and button */
  align-items: center;
  width: 100%;
}

/* Nav links are spaced evenly */
.nav-links {
  list-style-type: none;
  display: flex;
  gap: 20rem;
  margin: 0;
  padding: 0;
}

.nav-links li {
  list-style: none;
}

nav a {
  font-family: "Philosopher", sans-serif;
  font-size: 2rem;
  text-decoration: none;
  color: #7e1719;
  font-weight: bold;
  padding: 0.5rem;
}

nav a:hover {
  background-color: #ffffff;
}

/* Hamburger Menu */
.hamburger {
  display: none;
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  width: 25px;
  height: 25px;
  color: #7e1719;
}

/* Responsive Styles */
@media (max-width: 650px) {
  .nav-container {
    flex-direction: row;
    align-items: center;
  }

  .hamburger {
    display: block;
    position: relative;
    right: -40%;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    align-items: center;;
    position: absolute;
    top: 70px;
    right: 0;
    height: max-content;
    width: 100%;
    background-color: #ffffff;
    text-align: center;
    padding: 15px 0;
  }

  .nav-links.open {
    display: flex;
    gap: 5rem;
  }

  .nav-links li {
    margin: 10px 0;
  }
}
