#schedule-section {
  padding: 9.6rem 0 24rem 0;
  position: relative;
  background-image: url(../assets/schedule-section/background-clouds.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.schedule-container-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cloud-right-container {
  position: absolute;
  top: 15%;
  right: 0;
  animation: cloud-right 90s linear infinite forwards alternate-reverse;
}

@keyframes cloud-right {
  0% {
    transform: translateX(200%);
  }
  100% {
    transform: translateX(-200%);
  }
}
.cloud-left-container {
  position: absolute;
  top: 0%;
  left: 0;
  animation: cloud-left 120s linear infinite forwards alternate-reverse;
}

@keyframes cloud-left {
  0% {
    transform: translateX(-200%) rotateY(180deg);
  }
  100% {
    transform: translateX(200%) rotateY(180deg);
  }
}

.schedule-nav {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

.schedule-title {
  font-family: Style Script;
  font-size: 5.6rem;
  font-weight: 400;
  text-align: left;
  color: #305916;
}

.schedule-controls {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.schedule-control-left,
.schedule-control-right {
  border-radius: 50%;
  background-color: #30591600;
  border: 2px solid #305916;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #305916;
}

.schedule-container-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  /* padding: 2rem; */
  border-radius: 8px;
  border: 3px solid #7e1719;
  z-index: 2;
  width: 80%;
  background: rgba(232, 236, 242, 0.502);
}

.schedule-line {
  width: 2px;
  padding-bottom: 30%;
  background-color: #305916;
}
.schedule-line-hz {
  width: 10rem;
  padding-bottom: 2px;
  background-color: #305916;
}

.schedule-img-box {
  width: 25%;
}

.schedule-img-box img {
  width: 100%;
  height: 100%;
}

.schedule-text-box {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  align-items: flex-start;
  gap: 2rem;
  text-wrap: nowrap;
}

.schedule-day {
  font-family: Philosopher;
  font-size: 2.4rem;
  font-weight: 700;
  color: #305916;
}

.schedule-date {
  font-family: Philosopher;
  font-size: 6.4rem;
  font-weight: 700;
  color: #7e1719;
}
.schedule-event {
  display: flex;
  flex-direction: row;
  gap: 4rem;
}

.schedule-details {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.schedule-details span {
  font-family: Philosopher;
  font-size: 2.4rem;
  font-weight: 400;
  text-align: left;
  color: #305916;
}

.schedule-btn {
  width: fit-content;
  padding: 1rem 2rem;
  border-radius: 30px;
  background-color: #7e1719;
  color: #fff;
  font-family: Philosopher;
  border: none;
  font-size: 2.4rem;
  font-weight: 700;
  text-decoration: none;
  -webkit-box-shadow: 0px 17px 22px -11px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 17px 22px -11px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 17px 22px -11px rgba(0, 0, 0, 0.75);
}

.golden-fence-container {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.golden-fence-container img {
  width: 100%;
  height: 100%;
}

@media (width<=650px) {
  #schedule-section {
    height: 100%;
    padding: 4.8rem 0 9.6rem 0;
  }

  .schedule-container-box {
    flex-direction: column;
    justify-content: unset;
  }

  .schedule-img-box {
    width: 50%;
  }

  .schedule-line {
    display: none;
  }

  .schedule-text-box {
    gap: 1rem;
    text-align: left;
    width: 100%;
  }

  .schedule-day {
    font-size: 2rem;
  }

  .schedule-date {
    font-size: 3.6rem;
  }

  .schedule-details {
    justify-content: space-between;
  }

  .schedule-btn {
    align-self: center;
    margin-top: 2rem;
  }
}
