.countdown {
  text-align: center;
  color: white;
  background-color: #1e7497;
  padding: 5rem;
}

.countdown-title {
  font-size: 4.8rem;
  margin-bottom: 20px;
  font-family: "Style Script", cursive;
}

.countdown-timer {
  display: flex;
  justify-content: center;
  gap: 80px;
  font-family: "Philosopher", sans-serif;
}

.time-unit {
  background-image: url("../assets/Mask group (1).png");
  background-repeat: no-repeat;
  background-size: 150px 150px;
  color: #ffff;
  border-radius: 0%;
  width: 150px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  box-sizing: border-box;
}

.time-number {
  font-weight: bold;
  font-size: 4rem;
}

.time-label {
  font-size: 3.2rem;
}

@media (max-width: 900px) {
  .time-unit {
    width: 130px;
    height: 130px;
    font-size: 1.2rem;
    background-size: 130px 130px;
  }

  .countdown-timer {
    gap: 2rem;
  }
}

@media (max-width: 650px) {
  .time-unit {
    width: 50px;
    height: 50px;
    font-size: 1.2rem;
    background-size: 50px 50px;
  }

  .countdown-timer {
    gap: 35px;
  }

  .time-label {
    font-size: 1.6rem;
  }

  .time-number {
    font-size: 2.4rem;
  }

  .countdown {
    padding: 4rem 2rem;
  }

  .countdown-title {
    font-size: 2rem;
  }
}
