@font-face {
    font-family: 'browncat';
    src: url(./assets/fonts/Browncat.ttf);
  }
  @font-face {
    font-family: 'sorroundsignal';
    src: url(./assets/fonts/SurroundSignalDEMO-Regular.otf);
  }
  @font-face {
    font-family: 'Hyggemand';
    src: url(./assets/fonts/HyggemandDEMO-Regular.otf);
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  html {
    font-size: 62.5%;
  }
  html,
  body {
    overflow-x: hidden;
    background-color: #FFFADD;
  }
  html {
      font-size: 62.5%;
  }
  .nimbus-container {
      max-width: 128rem;
      padding: 0 3.2rem;
      margin: 0 auto;
  }
  @media (width<=900px) {
      html {
          font-size: 55%;
      }
  }
  @media (width<=650px) {
      html {
          font-size: 50%;
      }
      .nimbus-container {
          padding: 0 1.6rem;
      }
  }
  