@font-face {
    font-family:Singel-Trial ;
    src: url('./assets/fonts/singel-regular.otf');
}
@font-face {
    font-family: 'Ogg';
    src: url('./assets/fonts/Ogg-Roman.otf');
}
@font-face {
    font-family: loversQuarrel;
    src: url('./assets/fonts/LoversQuarrel-Regular.ttf');
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  html {
    font-size: 62.5%;
  }
  html,
  body {
    overflow-x: hidden;
  }
  html {
      font-size: 62.5%;
  }
  .nimbus-container {
      max-width: 128rem;
      padding: 0 3.2rem;
      margin: 0 auto;
  }
  @media (width<=900px) {
      html {
          font-size: 55%;
      }
  }
  @media (width<=650px) {
      html {
          font-size: 50%;
      }
      .nimbus-container {
          padding: 0 1.6rem;
      }
  }