#wed007-about-section{
    position: relative;
    padding: 9.6rem 0;
}
.wed007-aboutcontent{
    margin: 5%;
}
.wed007-content{
    background: linear-gradient(90deg, #99002C 0%, #ED566F 100%);
    -webkit-background-clip: text;
         -webkit-text-fill-color: transparent;
}
.wed007-decorationup img{
    width: 30%;
    position: absolute;
    left: 0;
    top: 0;

}

.wed007-content{
    display:flex;
    width:100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#wed007-line1{
    font-size: 3rem;
}
#wed007-line2{
    font-size: 9rem;
}
#wed007-line{
    width:50%;
}
.wed007-his{
    display: flex;
    align-items: center;
    margin-top: 5%;
}
.wed007-his-info{
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    background: linear-gradient(90deg, #99002C 0%, #ED566F 100%);
    -webkit-background-clip: text;
         -webkit-text-fill-color: transparent;
    text-align: right;
    margin-right: 5%;
}
#wed007-img{
    width:60%;
}
#wed007-name{
    font-size: 6rem;
    font-family: Ogg;
}
#wed007-parent{
    font-size: 3rem;
    font-family: Ogg;
   
}
#wed007-detail{
    width:100%;
    font-family: Singel-Trial;
    font-size: 3rem;
   
}
.wed007-her{
    display: flex;
    align-items: center;
    margin-top: 1%;
}

.wed007-her-info{
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    margin-left: 5%;
    background: linear-gradient(90deg, #99002C 0%, #ED566F 100%);
    -webkit-background-clip: text;
         -webkit-text-fill-color: transparent;
}
.wed007-info{
    width: 100%;
}
.wed007-more{
    display: flex;
    border: 1.7px solid;
    border-radius: 25px;
    border-color: #99002C;
    width: 24%;
    align-items: center;
    justify-content: space-around;
}
.wed007-more:hover{
    border: 3px solid;
    border-color: #99002C;
   
}

#wed007-morebutton{
    text-align: center;
    text-decoration: none;
    width:65%;
    background: linear-gradient(90deg, #99002C 0%, #ED566F 100%);
   -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 1.7rem;
}
#wed007-moreleft,#wed007-moreright{
width:15%;
}
#wed007-rightbottom img{
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: 18%;
}
.wed007-aboutcontent a{ 
    text-decoration: none;
    font-size: 2rem;
    background: linear-gradient(90deg, #99002C 0%, #ED566F 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}

@media(width<650px){
    #wed007-line1{
        font-size: 2rem;
    }
    #wed007-line2{
        font-size: 5rem;
    }
    .wed007-his{
        flex-direction: column-reverse;
    }
    .wed007-his,.wed007-her{
        margin: 0 0 5% 0;
    }
    .wed007-his-info{
        align-items: center;
        text-align: center;
        margin-right: 0;
    }
    .wed007-her{
        flex-direction: column;
    }
    .wed007-her-info{
        align-items: center;
        text-align: center;
        margin-left:0;
    }
    .wed007-decorationup img{
        width: 25%;
    }
    #wed007-name{
        font-size: 4rem;
        font-weight: bold;
    }
    #wed007-parent{
        font-size: 3rem;
    }
    #wed007-detail {
        font-size: 3rem;
        width: 90%;
        font-weight: 700;
    }
    #wed007-rightbottom img{
        bottom: 21%;
        width: 30%;
        transform: rotate(-20deg);
    }
    .wed007-aboutcontent a{
        width: 60%;
    }
}

