#hou003-Invite {
   background: linear-gradient(to bottom, #f9e5b3, #ffffff);
}

 .hou003-invitation-flowers {
    position: relative;
    left: 50%;
    right: 50%;
    transform: translate(-50%);
    z-index: 3;
 }

 .hou003-invite h3 {
    color: #0B4246;
    font-family: 'Stardos Stencil';
    font-size: 3rem;
    font-weight: 400;
    text-align: center;
    z-index: 2;
 }

 .hou003-invite h4 {
    color: #ff7500;
    font-family: 'Stardos Stencil';
    font-size: 3rem;
    font-weight: 400;
    text-align: center;
    z-index: 2;
 }

 .hou003-invite-icons {
   position: relative;
   left: 50%;
   transform: translate(-50%);
   z-index: 3;
   margin-top: 2%;
   margin-bottom: 12.5%;
 }

 .hou003-invite-flowerbloom {
   position: relative;
   left: 50%;
   transform: translate(-50%);
   z-index: 0;
   opacity: 0.1;
   display: block;
   margin: auto;
   margin-top: -25%;
 }


 @media(width<1000px) {
   .hou003-invite h3 {
      font-size: 2.5rem;
   }
  
   .hou003-invite h4 {
      font-size: 2.5rem;
   }

   .hou003-invite-icons {
      margin-bottom: 1%;
    }
 }

 @media(width<650px) {
   .hou003-invite h3 {
      font-size: 2rem;
   }
  
   .hou003-invite h4 {
      font-size: 2rem;
   }

   .hou003-invite-icons {
      margin-bottom: 0%;
    }

    .hou003-invite-flowerbloom {
      margin-top: -35%;
    }
 }