#hou003-Invitation {
    height: 55vh;
    background: linear-gradient(to bottom, #f9e5b3, #ffffff);
}

.hou003-Invitation-container {
   justify-items: center;
    padding-top: 7%;
    text-align: center;
}

 .hou003-Invitation-container p {
    font-family: 'Flamenco';
    font-size: 3rem;
    font-weight: 400;
    color: #000000;
 }

 .hou003-Invitation-container a {
    font-family: 'Fjalla';
    font-size: 3rem;
    font-weight: 400;
    color: #A60035;
 }

 .hou003-Invitation-container img {
    padding: 5%;
    margin-left: 7%;
 }