#bir004-countdown{
    background: linear-gradient(179.51deg, #D79F4C -2.58%, #BE803F 54.56%, #A86227 99.51%, #A5460A 99.51%);
    padding: 9.6rem 0;
    position: relative;
    z-index: 12;
}
.bir004-countdown-header{
    text-align: center;
    display: flex;
    flex-direction: column;
    font-family: 'Mauline';
    font-size: 3rem;
}
.bir004-countdown-header img{
    margin: 0 auto;
}
.bir004-counting{
    display:flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-family: 'Rachel Roman';
    color: #FFE9C8;
    padding: 2% 
    ;
}
.bir004-count-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2%;
    width: 20%;

    
}
.bir004-countnum{
    font-size: 4rem;
    padding: 5%;
    background: linear-gradient(308.14deg, #502F00 22.27%, #663C00 92.58%);
    width: 100%;
    text-align: center;
    border-radius: 10px;
}
.bir004-countq{
    font-size: 3rem;
    padding: 5%;
    margin: 5%;
    background: linear-gradient(308.14deg, #502F00 22.27%, #663C00 92.58%);
    width: 100%;
    text-align: center;
    border-radius: 10px;

}.bir004-about {
    background: linear-gradient(308.14deg, #502F00 22.27%, #663C00 92.58%);
    border: 6px solid; 
    border-image: linear-gradient(90deg, #E3B268 0%, #BE803F 55.97%, #A86227 100%, #A5460A 100%) 1; 
    margin: 10% 0 0 0 ;
}
.bir004-aboutheading{
    color: #FFE9C8;
    font-family: 'Rachel Italic';
    text-align: center;
    font-size: 5rem;
    padding: 5% 0 0 0;
}
#bir004-about-headingmobile{
    display: none;
}
#bir004-about-headingpc{
    display: inline;
}
.bir004-bgirlimage{
    position: relative;
    padding: 5%;
    
}
.bir004-sticks{
    width: 100px;
    border: 1.76px solid;
    border-image: linear-gradient(180deg, #FFC265 0%, #DFB181 100%) 1;
}
#image{
    position: relative;
}
#stick1{
    position: absolute;
    top:0;
}
.bir004-aboutdetails {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.bir004-bgirlimage {
    transition: transform 0.5s ease;
    z-index: 1;
    text-align: center;
}

.bir004-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    left: 50%;
    width: 50%;
    color: white;
    opacity: 0;
    transition: top 0.5s ease, opacity 0.5s ease;
}
.bir004-details p{
    font-family: 'Rachel Roman';
    font-size: 3rem;
}

.bir004-aboutdetails:hover .bir004-bgirlimage {
    transform: translateX(-50%); 
}

.bir004-aboutdetails:hover .bir004-details {
    left: 50%;
    opacity: 1;
}   
#bir004-details-head{
    font-family: 'Mauline';
    color: #FFE9C8;
    font-size: 5rem;

}
#bir004-details-highlight{
    font-family: 'Mauline';
    font-size: 5rem;
    background: linear-gradient(180deg, #FFC265 0%, #DFB181 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.bir004-about-highlightbutton{
    text-align: center;
    padding: 2%;
    margin: 2% 0 0 0;
    background: linear-gradient(180deg, #E3B268 0%, #BE803F 100%);
    width: 50%;
    font-size: 3rem; 
    text-decoration: none;
    border-radius: 50px;
    border: 1.76px solid #FFC265;
    transition: background 0.4s ease, transform 0.4s ease;
    font-family: 'Rachel Roman';
}
.bir004-about-highlightbutton span{
    background: linear-gradient(291.6deg, #392C19 0.93%, #000000 101.51%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.bir004-about-highlightbutton:hover {
    background: transparent; /* Make background transparent on hover */
    transform: scale(1.1); /* Grow the button on hover */
}

.bir004-about-highlightbutton span {
    background: linear-gradient(291.6deg, #392C19 0.93%, #000000 101.51%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 1%;
    transition: transform 0.3s ease, background 0.3s ease; /* Add transition for text transform and background */
}

.bir004-about-highlightbutton:hover span {
    transform: scale(1.1); /* Grow the text on hover */
    background: linear-gradient(180deg, #BE803F 0%, #E3B268 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bir004-about-highlightbutton span {
    background: linear-gradient(291.6deg, #392C19 0.93%, #000000 101.51%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 1%;
}
#bir004-topleft,#bir004-bottomleft,#bir004-bottomright,#bir004-rightmid{
    position:absolute;
    z-index: -1;
}
#bir004-topleft{
    top:0;
    left:0;
    width: 30%;
}
#bir004-bottomleft{
    bottom:0;
    left:0;
    width: 30%;
}
#bir004-bottomright{
    bottom:0;
    right:0;
    width: 30%;
}
#bir004-rightmid{
    top:25%;
    right:0;
    width: 30%;
}
@media(width<1000px){
    .bir004-countdown-header h1{
        font-size: 3rem;
    }
    .bir004-countdown-header img{
        width: 55%;
    }
    .bir004-count-item h1{
        font-size: 4rem;        
    }
    .bir004-countq{
        font-size: 2rem;
    }
    .bir004-aboutheading h1{
        font-size: 6rem;
    }
    .bir004-bgirlimage{
        width: 60%;
    }
    .bir004-bgirlimage img{
        width: 70%;
    }
    #bir004-details-head,#bir004-details-highlight{
        font-size: 4rem;
    }
    .bir004-details p{
        font-size:2rem ;
    }
    .bir004-about-highlightbutton span{
        font-size: 2rem;
    }

}
@media(width<650px){
    .bir004-count-item{
        width: 25%;
    }
    .bir004-countq{
        border-radius: 5px;
        font-size: 1.5rem;
    }
    
    #bir004-about-headingmobile{
        display: inline;
    }
    #bir004-about-headingpc{
        display: none;
    }
    .bir004-aboutdetails {
        height: 70vh;
        width: 100%;
        flex-direction: column;
    }

    .bir004-bgirlimage {
        width: 80%;
        transform: translateY(0); 
    }
    .bir004-bgirlimage img{
        width: 70%; 
    }
    .bir004-details {
        top: 100%; 
        opacity: 0;
        width: 95%;
        margin: 0 2.5%;
        left: 0;
        align-items: center;
        justify-content: center;
    }

    .bir004-aboutdetails.scrolled .bir004-details {
        top: 50%; 
        opacity: 1;
    }

    .bir004-aboutdetails.scrolled .bir004-bgirlimage {
        transform: translateY(-50%); /* Move the image up */
    }
}

