#bir004-destination{
    background: linear-gradient(291.6deg, #392C19 0.93%, #000000 101.51%);
    padding:9.6rem 0;
    position: relative;
}
.bir004-destinationcontainer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 10% 0;
}
.bir004-destinationcontainer img{
    width: 40%;
}
.bir004-destinationdetails{
    display: flex;
    flex-direction: column;
    padding-left: 3%;
}
.bir004-destinationdetails h3{
    font-family: 'Rachel Italic';
    font-size: 2.5rem;
    background: linear-gradient(180deg, #FFC265 0%, #DFB181 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.bir004-destinationdetails h1{
    font-family: 'Mauline';
    font-size: 5rem;
    color: #FFE9C8;
}
.bir004-destinationdetails p{
    font-family: 'Mauline';
    font-size: 3rem;
    color: #FFE9C8;
}

.bir004-destination-mapbutton {
    text-decoration: none;
    font-family: 'Rachel Roman';
    font-size: 3rem;
    background: linear-gradient(180deg, #E3B268 0%, #BE803F 100%);
    width: 60%;
    padding: 1.5%;
    display: flex;
    align-items: center;
    margin-top: 2%;
    justify-content: center;
    border: 2px solid #E3B268 ; /* Set the border width */
    border-radius: 50px;
    transition: background 0.4s ease, transform 0.4s ease; /* Add transition for background and transform */
}

.bir004-destination-mapbutton:hover {
    background: transparent; /* Make background transparent on hover */
    transform: scale(1.1); /* Grow the button on hover */
}

.bir004-destination-mapbutton span {
    background: linear-gradient(291.6deg, #392C19 0.93%, #000000 101.51%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: transform 0.3s ease, background 0.3s ease; /* Add transition for text transform and background */
}

.bir004-destination-mapbutton:hover span {
    transform: scale(1.1); /* Grow the text on hover */
    background: linear-gradient(180deg, #BE803F 0%, #E3B268 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bir004-destination-mapbutton span {
    background: linear-gradient(291.6deg, #392C19 0.93%, #000000 101.51%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 1%;
}
#bir004-desrt{
    position:absolute;
    top:0;
    right: 0;
    width: 10%;
}
#bir004-deslm{
    position:absolute;
    bottom:50%;
    left: 0;
    width: 10%;
}
#bir004-deslt{
    position:absolute;
    top:0;
    left: 0;
    width: 10%;
}
#bir004-actrt{
    position: absolute;
    top: 50%;
    right: 0;
    width: 10%;
}
#bir004-desrm{
    position: absolute;
    bottom: 50%;
    right: 0;
}
#bir004-actrb{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 10%;
}
#bir004-actlb{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 10%;
}
/* Activity css below */
.bir004-activitycontainer{
    padding: 9.6rem 0;

}
.bir004-activity-title{
    font-family: 'Rachel Italic';
    font-size: 5rem;
    background: linear-gradient(180deg, #FFC265 0%, #DFB181 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}
.bir004-activity-uppert{
    font-family: 'Rachel Roman';
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}
.bir004-activity-headline{
    width: 30%;
}
.bir004-actvity-lowert h1{
    color: #FFE9C8;
}

.bir004-activities{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5% 0;
}
.bir004-activityn{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 23%;
    background: linear-gradient(180deg, #FFC265 0%, #DFB181 100%);
    padding: 4% 2%;
    border-radius: 20px;
}
.bir004-activityn img{
    width: 100%;
}
.bir004-description{
    font-family: 'Rachel Roman';
    font-size: 2.5rem;
    color: #392C19;
    text-align: center;
    padding: 2%;
}

@media(width<650px){
   
    .bir004-destinationcontainer{
        flex-direction: column;
        text-align: center;
    }
    .bir004-destinationcontainer img{
        width: 80%;
    }
    .bir004-destinationdetails{
        width: 90%;
        padding: 5% 0;
        justify-content: center;
        align-items: center;
    }
    .bir004-destinationdetails h3{
        font-size: 3rem;
    }
    .bir004-destinationdetails h1{
        font-size: 4rem;       
    }
    .bir004-destinationdetails p{
        font-size: 2.5rem;
    }
    .bir004-destination-mapbutton{
        font-size: 2.5rem;
    }
    #bir004-desrt{
        width: 20%;
    }
    #bir004-deslb{
        width: 20%;
    }
    .bir004-activity-main{
        overflow-x: scroll;
        -ms-overflow-style: none;  /* Internet Explorer 10+ */
        scrollbar-width: none;  /* Firefox */
    }
    .bir004-activity-main::-webkit-scrollbar {
        display: none;  /* Safari and Chrome */
    }
    .bir004-activities{
        width: 300%;
    }
    .bir004-activitycontainer{
        padding: 4.6rem 0;
    }
    .bir004-activity-uppert h2{
        font-size: 3rem;
    }
    .bir004-activity-uppert img{
        width: 15%;
    }
    .bir004-actvity-lowert h1 {
        font-size: 6rem;
    }
    .bir004-activityn{
        border-radius: 10px;
    }
    
}