#bir005-Footer{
    background-color: #408FBB;
    padding: 9.6rem 0 0 0;
}
.bir005-consclo{
    display: flex;
    position: relative;
    padding-top: 2.5%;
    width: 70%;
    margin-left:15%;
    margin-right: 15%;
    text-align: center;
    justify-content: space-evenly;
}
.bir005-consclo-buttons img{
    width: 70%;
}
.bir005-consclo-buttons h1{
    color: white;
    font-family: 'Hyggemand';
}
.bir005-footerbear{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.bir005-footerbear img{
    width: 20%;
}