#bir005-countdown{
    position:relative;
    padding: 9.6rem 0; 
    
}
.bir005-counttitle{
    font-family: 'Hyggemand';
    color:#408FBB;
    text-align: center;
    font-size: 3rem;
    font-weight: 400;
    padding-bottom:0 ;
    height: fit-content;
}
.bir005-countbox{
    display: flex;
    width: 100%;
    margin-top: 3%;
    justify-content: center;
    z-index: 1;
}
.bir005-countcontent{
    margin: 1rem;
    background-color: #FFCC70;
    color: #B55200;
    width: 15%;
    border: 3px solid white;
    border-radius: 25px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.bir005-countcontent p{
    margin: 10%;
}
.bir005-counttitle h2{
    font-size: 3rem;
    font-weight: 400;
}
#bir005-last-count{
    position: relative;
}
.bir005-teddyimg{
    position: absolute;
    left: 0%;
    width: 20%;
    bottom: 0%;
}
.bir005-capimg{
    position:absolute;
    left: 73.5%;
    top: -30%;
    transform: rotate(10deg);
}
.bir005-capimg img{
    width: 150%;
}
@media(width<=650px){
    /* .bir005-teddyimg{
    } */
    .bir005-countbox{
        justify-content: space-around;
    }
    .bir005-countcontent{
        width: 20%;
        font-size: 2rem;
    }
}