#bir005-banner{
    position: relative;
    background-color: #FFCC70;
    padding: 9.6rem 0,3.6rem 0 ;
    
}
.bir005-banner{

    position: relative;
    padding-bottom: 5%;
}
.bir005-lban{
    position: absolute;
    width: 30%;
    left: -1%;
    top:0;
    transform: scaleX(-1);
    z-index: 2;

}
.bir005-rban{
    position: absolute;
    width:30%;
    top:0;

    right:-1%;
    z-index: 2;
}

.bir005-mflag{
    display: none;
}
.bir005-banner-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bir005-bannerpic{
    text-align: center;
    z-index: 1;
    position:relative;
    top: 3rem;
}
.bir005-babypic{
    width:70%;
}
.bir005-ballon{
    position: absolute;
    width: 15%;
}
#bir005-rightballon{
    bottom: 0%;
    right: 2%;}
#bir005-leftballon{
    transform: scaleX(-1);
    left: 2%;
    bottom: 0%;
}
.bir005-invite{
    display: flex;
    flex-direction: column;
    font-family: 'Hyggemand',sans-serif;
    color: #408FBB;
    z-index: 1;
    width: 100%;
    text-align: center;
    position: relative;
    top: 3rem;
    padding-bottom:5% ; 
    opacity: 0;
    animation: fadeIn 1s forwards 2s;   
}
.bir005-invite p{
    color: #B55200;
    font-size: large;
    margin: 5px;
}
.bir005-invite h1{
    font-size: 50px;
    margin: 0;
}
#bir005-invitedetails{
    padding: 0 10%;
}

.bir005-clouds{
    width: 70%;
    position: absolute;
    transition: transform 0.5s ease;
    z-index: 2;
    top: 50%;

}

#bir005-lcloud{
    left: 0%;
}
#bir005-rcloud{
    right: 0%;
}
@keyframes cloudMoveLeft {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes cloudMoveRight {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%);
    }
}

#bir005-lcloud.animate-left {
    animation: cloudMoveLeft 2s ease-in-out forwards;
}

#bir005-rcloud.animate-right {
    animation: cloudMoveRight 2s ease-in-out forwards;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}




@media (width<=650px) {
    #bir005-invitedetails {
        display: none;
    }
    .bir005-clouds{
        width: 140%;
    }
    .bir005-rban{
        display: none;
    }
    .bir005-lban{
        display: none;
    }
    .bir005-mflag{
        display: block;
        width: 100%;
    }
    .bir005-babypic{
    width: 90%;
    }
    .bir005-ballon{
        width: 20%;
    }
    #bir005-rightballon{
        bottom: -20%;
    }
    #bir005-leftballon{
        bottom: -20%;
    }
    .bir005-invite p{
        padding: 2% 0 0 0;
    }
}