#bir005-destination{
    position: relative;
    margin: 5% 0;
}
.bir005-container {
    display: flex;
    align-items: center;
    border: 2px solid #BDBDBD;
    border-radius: 10px;
    padding: 20px;
    background-color: #FFF8E1;
}
.bir005-descontainer{
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    font-family: 'Hyggemand';
    font-weight: 400;
    padding-bottom: 5%;
}
.bir005-image-container {
    flex: 1;
    padding: 10px;
}
.bir005-image-container img {
    width: 100%;
    border-radius: 10px;
    text-align: center;
}
.bir005-content-container {
    flex: 1;
    padding: 20px;
    text-align: center;
}
.bir005-content-container h1 {
    
    color: #408FBB;
    margin: 0;
    font-size: 3rem;
}
.bir005-content-container p {
    
    color: #B55200;
    font-size: 2rem;
    margin: 10px 0;
}
.bir005-content-container .address {
    font-family: 'Hyggemand';
    color: #B55200;
    font-size: 2rem;
    margin: 10px 0;
}
.bir005-bear-image {
    position: absolute;
    right:0%;
    width: 15%;
    bottom: 0%;
}
.bir005-mapbuttond{
    background-color: #B55200;
    border-radius: 50px;
    display: flex;
    text-align: center;
    align-items: center;
    font-family: 'sorroundsignal';
    font-weight: 400;
    font-size: 2rem;
    color: #FFFADD;
    text-decoration: none;
    transition: background-color 0.3s ease;
    width:90%;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 15px;
    border: 3px solid #B55200;
    height: 40px;
}
.bir005-mapbuttond img{
    width:8%;
}
.bir005-mapbuttond:hover {
    background-color: #FFFADD;
    color: #B55200;
}