#bir005-Gallery{
    background-color: #FFCC70;
    padding: 9.6rem 0;

}

.bir005-gal-head{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #B55200;
    font-family: 'Hyggemand';
    font-size: 3rem;
    padding: 3%;
    position: relative;
}
.bir005-familypic{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.bir005-familypic img{
    width: 60%;
    border: 1.5rem solid #F0E6DB;
    
}
.bir005-gallery-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    overflow: hidden;
      
  }
  
  .bir005-gallery-slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .bir005-gallery-slide {
    min-width: 100%;
    transition: transform 0.5s ease-in-out;
  }
.bir005-picbutton {
    bottom: 3%;
    background-color: #B55200;
    border-radius: 50px;
    display: flex;
    text-align: center;
    align-items: center;
    font-family: 'sorroundsignal';
    font-weight: 400;
    font-size: 2rem;
    color: #FFFADD;
    text-decoration: none;
    transition: background-color 0.3s ease;
    width:40%;
    justify-content: center;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 15px;
    border: 3px solid #B55200;
    height: 40px;

}
.bir005-picbutton:hover {
    background-color: #FFFADD;
    color: #B55200;
}
@media(width<=650px){
    .bir005-familypic img{
        width: 80%;
    }

}