#bir005-wishes{
    background-image: url('../assets/img/Bir005-Wishes/wishbg.svg');
    background-color: white;
    background-size: 100% auto;
    font-family: 'Hyggemand';
    padding: 9.6rem 0;
}
.bir005-wish-head{
    font-family: 'Hyggemand';
    padding:2% 5% 2% 5%;
    color: #B55200;
}
.bir005-wish-head span{
    color: #B55200;
    font-size: 3rem;
}
.bir005-wish-head p{
    font-size: 2rem;
}
#bame{
    color: #408FBB;
}
.bir005-wish-coll{
    display:flex;
    padding: 0 5%;
    padding-bottom: 2.5% ;

}
.bir005-wish-box{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 25%;
    margin:0 1%;
    border: 5px solid #408FBB;
    border-radius: 10%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 2;
}
.bir005-wish-box p{
    font-size: 2rem;
    text-align: center;
}
.bir005-quotpic{
    width: 15%;
    padding: 2%;
}
.bir005-perpic{
    width:20%;
    margin: 0 auto;
    display: block;
}
#b1{
    color: #408FBB;
    border: 5px solid #408FBB;
}
#b2{
    border-color: #FF3B8D;
    color: #FF3B8D;
}
#b3{
    border-color: #474747;
    color: #474747;
}
#b4{
    color: #FF7679;
    border-color:#FF7679;
}
.bir005-message{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.bir005-message h1{
    font-size: 3rem;
    color: #B55200;
}
.bir005-wish-entry{
    background-color: #FFFADD;
    border: 5px solid #B55200;
    width:35%;
    border-radius:50px;
}
#wishname{
    height: 6rem;
}
#wishdetails{
    height: 9rem;
}
.bir005-submit{
    font-family: 'sorroundsignal';
    color: white;
    margin: 3% 0;
    font-size: 2rem;
    font-weight: 400;
    background-color: #408FBB;
    border: 5px solid white;
    border-radius: 50px;
    width: 35%;
    height: 5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
@media (max-width: 650px) {
    .bir005-wish-coll{
        width: 300%;
        overflow-x: scroll;
        scrollbar-width: none;
    }
    .bir005-wish-coll::-webkit-scrollbar { 
        display: none;
    }
    .bir005-wishes-container{
        overflow-x: scroll;
        scrollbar-width: none;
    }
    .bir005-wishes-container::-webkit-scrollbar { 
        display: none;
    }
    .bir005-message{
        width: 100%;
        margin:0;
        justify-content: center;
    }
    .bir005-wish-entry{
        width: 60%;
    }
}
