#bir005-hero{
background-image: url('../assets/img/Bir005-Hero/Vector.png');
background-size: cover;
background-position: center;
position: relative;
padding: 0 0 9.6rem 0;
}



.bir005-navbar {
    /* position: absolute; */
    background-color: #408FBB;
    padding: 10px 0;
    font-family: 'DM Sans';
    text-align: center;
    margin: 20px;
    border-radius: 50px;
    z-index: 2;
    top: 0%;
}
.bir005-navbar a {
    color: white;
    text-decoration: none;
    margin: 0 5%;
    font-size: 1.75rem;
}

.bir005-hero-animation {
    /* width: 40%; 
    height: 51%; */
    width: 45rem; 
    height: 26rem;
    background-size: cover;
    position: absolute; 
    top: 0; 
    left: 0;
    z-index: 1;
    animation: changeImage 2.5s infinite;
}
@keyframes changeImage {
    0% { background-image: url('../assets/img/Bir005-Hero/Star1.svg'); }
    50% { background-image: url('../assets/img/Bir005-Hero/Star2.svg'); }
    100% { background-image: url('../assets/img/Bir005-Hero/Star1.svg'); }
}
.bir005-titleinfo {
    /* position: absolute; */
    margin-top: 15%;
    margin-left: -5%;
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: 'browncat';
    text-align: center;
    font-size: 5rem;
    z-index: 2;
    top: 30%;
}


.bir005-Hero{
    /* position:absolute; */
    display: flex;
    flex-direction: column;
    top: 0%;
}

.bir005-titleinfo p{
    color: #2E97C2;
    font-weight: 400;
    font-size: 2rem;
    font-family: 'Hyggemand';
}
.bir005-titleinfo h1{
    color: #B55200;
    margin: 0%;
    font-size: 7rem;
    font-weight: 400;
}
.bir005-heroteddy{
    position: absolute;
    z-index: 1;
    right: 0%;
    bottom: 5%;
    width: 25%;
}

#head {
    position: absolute;
    top: -84%;
    left: -17%;
    transform-origin:center;
    animation: rotateHead 3s infinite alternate;
    width: 80%;
}

#body {
    position: relative;
    left: 30%;
    transform: translateX(-50%);
    width: 100%;
}

@keyframes rotateHead {
    0% {
        transform: rotate(10deg);
    }
    100% {
        transform: rotate(-10deg);
    }
}

.bir005-mapbutton {
    background-color: #B55200;
    border-radius: 50px;
    display: flex;
    text-align: center;
    align-items: center;
    font-family: 'sorroundsignal';
    font-weight: 400;
    font-size: 2rem;
    color: #FFFADD;
    text-decoration: none;
    transition: background-color 0.3s ease;
    width:40%;
    justify-content: center;
    margin-left: 30%;
    margin-right: 30%;
    border: 3px solid #B55200;
    
}
 a {
    text-decoration: none; /* Ensure no underline */
    color: inherit; /* Inherit color from parent */
}
.bir005-mapbutton:hover {
    background-color: #FFFADD;
    color: #B55200;
}
.bir005-mapbutton img{
    width: 10%;
    padding: 1%;
}



@media(width>=1400px){
    .bir005-hero-animation {
        width: 58rem;
        height: 33rem;
    }
    .bir005-heroteddy{
        width: 22.5%;
    } 
}

@media(width>=1600px){
    
    .bir005-heroteddy{
        width: 20%;
    } 
}

@media(width>=1800px){
    .bir005-heroteddy{
        width: 20%;
    }
    #bir005-hero{
        padding: 0 0 15rem 0;
    } 

}

@media(width>=2000px){
    .bir005-hero-animation {
        width: 74rem;
        height: 44rem;
    }

    .bir005-heroteddy{
        width: 20%;
    }
    #bir005-hero{
        padding: 0 0 25rem 0;
    } 

}

@media(width>=2000px){
  
    #bir005-hero{
        padding: 0 0 35rem 0;
    } 

}
@media(max-width: 1000px){
    .bir005-titleinfo h1{
        font-size: 5rem;
    }
    .bir005-titleinfo p{
        font-size: 1.5rem;
    }
}
@media(max-width:650px){
    
    .bir005-navbar{
        display: none;
    }
    .bir005-hero-animation{
        position: relative;
        display: flex;
        width: 59rem;
        height:35rem;
    }
    .bir005-titleinfo{
        margin-top: 0%;
        margin-left: 0%;
        font-size: 3rem;
    }
    .bir005-heroteddy{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
                
    }
    #body{
        left: 0;
        margin-top: 40%;
        transform: none;
        width: 60%;

    }
    #head{

        position: absolute;
        width: 45%;
        top: -4%;
        left: 24%;

    }
}
@media(max-width: 450px){
    .bir005-hero-animation{
        width: 46rem;
        height:27rem;
    }
}

